version: "2.3"
services:
  forum:
    image: moochannel/flarum-fpm
    volumes:
      - web-contents:/var/www/html
      - web-assets:/var/www/html/assets
    depends_on:
      - database
  web:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/flarum.conf:/etc/nginx/conf.d/default.conf:ro
      - web-contents:/var/www/html:ro
      - web-assets:/var/www/html/assets:ro
    depends_on:
      - forum
  database:
    image: mariadb:10.1
    volumes:
      - db-data:/var/lib/mysql
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_unicode_ci"]
    environment:
      MYSQL_ROOT_PASSWORD: "d23GNCfhaZOtgaic_bDw"
      MYSQL_USER: "xpjp"
      MYSQL_PASSWORD: "xpjp-passwd"
      MYSQL_DATABASE: "xpjp-forum"
volumes:
  db-data:
    # driver_opts:
    #   type: none
    #   device: </path/to/db-data>
    #   o: bind
  web-contents:
  web-assets:
    # driver_opts:
    #   type: none
    #   device: </path/to/assets>
    #   o: bind
